@charset "UTF-8";
body{    
    color: white; 
    margin: 5px;
    text-align: left;
    
}
h3{
    padding: 20px;
    
}
header{
    background-color: #ED642C;
    height: 60px;
    border-radius: 10px;  
    margin: 3px;
}

nav{
    background-color: #F1D33B;
    height: 60px;
    border-radius: 10px;  
    margin: 3px;
}
section{
    display: flex;
}
main{
    background-color: #10745F;
    height: 30%;
    border-radius: 10px;  
    margin: 3px;
    width: 80%;
 
}

article{
    background-color: #94D2C8;    
    border-radius: 10px;          
    display: inline-block;
    height: 100px;
    width: 30%;
    margin: 100px 20px 50px 20px;
    text-align: initial;
}

aside{
background-color: #588CC4;
border-radius: 10px;  
min-width: 30%;
text-align: center;
}

footer{
    background-color: #94D2C8;
    border-radius: 10px;  
    height: 60px;
    margin: 10px;    
}
