@charset "UTF-8";

table{
    border: black 2px solid;
    width: 40%;
    
}
table td,th{
    border: black 2px solid;
    text-align: center;
}
th[scope="col"]{    
    background-color: lightblue;
    font-weight: bold;    

}

td[scope="index"]{    
    background-color: yellow;
    font-weight: bold;    

}

th[scope="total"]{    
    background-color: mediumaquamarine;
    font-weight: bold;   
    text-align: right; 

}

td[scope="price"]{   
    text-align: right; 

}
