$color_principal: #fff;
$color_secundario: #2BA47D;
$tamano_texto: 15px;

body{
  color: $color_principal;
  background: $color_secundario;
  font-size: $tamano_texto;
}

@mixin open_sans_light($size){
  font-family: 'Open sans', sans-serif;
  font-weight:300;
  font-size:$size;
  
}
p{
  @include open_sans_light(20px);
}

ul{
  font-family: sans-serif;
  background:#000;
  color:#fff;
  margin: 20px 0;
  padding: 5px;
  li{
    margin: 5px;
    padding: 10px;
    a{
      display:block;
      color: inherit;
      text-decoration:none;
    }
  }
}

$ancho_total: 600px;
$ancho_principal: 400px;
$calle: 20px;

#contenedor {
  width: $ancho_total;
  background: #000;
  padding: $calle;
  font-family: Helvetica,Arial,sans-serif;
  overflow: auto;
}
#principal {
  float: left;
  width: $ancho_principal;
  background: #2BA47D;  
}
#secundario{
  float: right;
  width: $ancho_total - $ancho_principal - $calle;
  background: red;
}

.boton {
  font-family: sans-serif;
  border-radius: 3px;
  display: inline-block;
  text-decoration:none;
  padding: 10px;
  color: #f00;
}

.boton-importante{
  @extend .boton;
  background:#f00
}