table{
    align-content:center;
    text-align:center;
    font-weight: bold ;
    margin:0;
  }
  
  
  .resultado{
      margin:0;
    background-color:#969696;
    text-align:right;
    padding-top: 30px;
    padding-right:10px;
    padding-bottom:10px;
    
  
  }
  
  .botones{
      margin:0;
    height:50px;
    width:50px;
    background-color:#DCDCDC;
  }
  
  .naranja{
      margin:0;
    height:50px;
    width:50px;
    background-color:#F79130;
    
  }