body{
  background-color:lightgray;
}
#container {
  display:flex;
}

.panel-azul {
  min-height: 100%;
  border-radius: 15px;
  padding: 5px;
  display: 0 0 50%;
  width: 50%;
  background-color: #5d8fee;
  .white {
    color: white;
    text-align: center;
  }
  .texto{
    align-content: center;
    padding-top: 12em;
  }
}

#formulario {
  height: 100%;
  border-radius: 15px;
  background-color: white;
  flex: 1;
  width: 50%;
  padding: 25px;

  .enviar {

    margin-top: 20px;
    background-color: #5d8fee;
    color: white;
    border: none;
    padding: 1em;
    margin-left: 130px;
    border-radius: 3px;
  }
}
